/* Phần nội dung page */

.movie__content{
    padding-top: 188px;
}

.content__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__text{
    color: white;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

.content__news{
    color: white;
    font-weight: 500;
    margin-bottom: 38px;
}

