/* Phần nội dung page */

.movie__content{
    padding-top: 188px;
}

.movie__item{
    display: none;
}

.movie__item:nth-child(1),
.movie__item:nth-child(2),
.movie__item:nth-child(3),
.movie__item:nth-child(4),
.movie__item:nth-child(5),
.movie__item:nth-child(6),
.movie__item:nth-child(7),
.movie__item:nth-child(8),
.movie__item:nth-child(9),
.movie__item:nth-child(10),
.movie__item:nth-child(11),
.movie__item:nth-child(12){
    display: block;
}


.content__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__text{
    color: white;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

.content__news{
    color: white;
    font-weight: 500;
    margin-bottom: 38px;
}


/* Phần loadmore btn */
.movie__loadmore{
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
    margin-top: 28px;
}
.movie__loadmore-btn{
    outline: none;
    border: none;
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 16px;
}

.movie__loadmore-btn:hover{
    opacity: 0.9;
}